{% extends 'Vilight/main.html' %}
{% block content %}

<br>
<div class="col">
  <div class="col-md">
   <div class="card text-center text-black  mb-3" id="diem-danh">
      <div class="card-header">
       <h5 class="card-title">ĐIỂM DANH TRONG NGÀY</h5>
          <div class="col-md">
          <form method="get">
                {{ myFilter.form }}  <!-- Cấu trúc gọi Filters -->
                <button class="btn btn-primary" type="submit">Search</button>
          </form>
          </div>
      </div>
      <table class="table table-sm" id = "body-diemdanh" style="width:100%; height:100% " >
   <tr>
    <th>NGÀY</th>
    <th>ID</th>
    <th>TÊN</th>
    <th>VỊ TRÍ</th>
    <th>CHECK IN</th>
    <th>CHECK MID</th>
    <th>CHECK OUT</th>
   </tr>
         {% for i in myFilter.qs %}
      <tr>
          <td>{{i.date}} </td>
          <td>{{i.staff_id}} </td>
          <td>{{i.name}} </td>
          <td>{{i.position}} </td>
          <td>{{i.checkin}} </td>
          <td>{{i.checkmid}} </td>
          <td>{{i.checkout}} </td>
      </tr>
    {% endfor %}
  </table>
      </div>
   </div>
  </div>
{% endblock %}

